{{- $font := .zed.fontFamily -}}
{{- if eq .chezmoi.os "windows" -}}{{- $font = .zed.windowsFontFamily -}}{{- end -}}
{{- $settings := dict "buffer_font_family" $font "terminal" (dict "font_family" $font) "theme" (dict "dark" .zed.themeName "light" .zed.themeName) -}}
{{- range $key, $value := .zed.settings -}}
{{- $_ := set $settings $key $value -}}
{{- end -}}
{{- if hasKey .zed.platforms .chezmoi.os -}}
{{- range $key, $value := index .zed.platforms .chezmoi.os -}}
{{- $_ := set $settings $key $value -}}
{{- end -}}
{{- end -}}
{{ $settings | toPrettyJson }}
