{{ if and (eq .chezmoi.os "windows") (eq .host "korolev") -}}
$ErrorActionPreference = 'Stop'
{{ template "windows-apps/functions.ps1" . }}
{{ template "windows-apps/jsonc.ps1" . }}
{{ template "windows-apps/declarations.ps1.tmpl" . }}
$inputBytes = [IO.MemoryStream]::new()
try {
  [Console]::OpenStandardInput().CopyTo($inputBytes)
  $bytes = Get-AppIniBytes $inputBytes.ToArray() $altSnapDesired
  $outputStream = [Console]::OpenStandardOutput()
  $outputStream.Write($bytes, 0, $bytes.Length)
  $outputStream.Flush()
} finally { $inputBytes.Dispose() }
{{ end -}}
